body {
  padding: 0;
  margin: 0;
  margin-top: 90px;
  text-align: center;
  height: auto;
}

#cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 20px;
  gap: 2rem;
}

.card {
  background-color: rgb(201, 204, 201);
  width: 200px;
  height: 300px;
  padding: 1em;
  border-radius: 1rem;
}

.card-bottom {
  display: flex;
  padding-top: 10px;
  align-items: center;
}

.images {
  width: auto;
  height: 70%;
}

h2 {
  font-size: 15px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding-top: 10px;
}

p {
  font-size: 12px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 2px 0px;
}

#price {
  font-size: 14px;
}

#favorite {
  padding: 3px;
}

.buttons-card {
  display: flex;
  gap: 5px;
}

#addPanier {
  display: flex;
  gap: 5px;
  align-items: center;
}